<div class = "border-bottom row" style = "margin-bottom:16px; padding-bottom:8px">
  <div class= "col-10">
<div>
    <h4
         style = "color:rgb(120,120,120); margin-bottom: 4px">
      {{job['title']}}
       </h4>
  </div>
  
        
<div>
<b>Location: </b> {{job['location']}}
</div>
      <div><b>Salary: </b> {{job['salary']}}
      </div>
  </div>
  <div class ="col-2">
   <a href="mailto:Applications@afuya.co?subject=Applications%20for%20{{job['title']}}&body=Name%3A%20%3Cyour%20name%20here%3E%0D%0APhone%3A%20%3CPhone%20Number%3E%0D%0AResume%20Link%3A%20%3CResume%20link%20here%3E%0D%0ALinkedin%20url%3A%20%3Clinkedin%20ulr%3E%0D%0A" type="button" class="btn btn-outline-primary float-right align-middle">Apply</a>
  </div>
  
      
      </div>
   